* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vh;
  height: 100vh;
  display: flex;
  background: #51b7df;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-family: "Madimi One", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  font-size: 50px;
  line-height: 50px; /* Added line-height */
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  white-space: nowrap; /* Ensures all text is in one line */
  position: absolute;
  top: 10px; /* Adjust the distance from the top as needed */
  left: 50%;
  transform: translateX(-50%);
}

.memory-game {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 50px; /* Gap between columns */
  grid-row-gap: 90px; /* Gap between rows */
  grid-column-gap: 80px;
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 20px); /* Adjusted width to include padding and gap */
  height: auto;
  padding: 20px; /* Adjusted padding */
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border: none;
}

.memory-card:active {
  transform: scale(0.9);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}
.memory-card.flip .front-face {
  transform: rotateY(180deg);
}

.memory-card.flip .back-face {
  transform: rotateY(0deg);
}

.front-face,
.back-face {
  position: absolute;
  backface-visibility: hidden;
  border: none;
  transform-style: preserve-3d;
  transform-origin: center;
  width: 280%;
  height: 280%;
  object-fit: contain; /* Maintain aspect ratio and fit within the container */
}

.front-face {
  transform: rotateY(180deg);
}

h2 {
  font-size: 50px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  margin: top;
}

.reset {
  height: max-content;
  width: max-content;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(99, 99, 138);
  background: lightblue;
  border: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  border-radius: 20px; /* Adjust border-radius as needed */
  position: absolute;
  bottom: 50%; /* Adjust bottom spacing */
  left: -25%; /* Adjust left spacing */
}

.reset:focus {
  color: white;
  background: #0071bc;
}

.wrapper {
  box-sizing: border-box;
  width: 35rem;
  height: 35rem;
  padding: 4rem; /* Increased padding */
  background-color: #0071bc;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.6rem;
  box-shadow: 0 0.09rem 2.8rem rgba(86, 66, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

#grape-kid {
  height: 120px;
  width: 80px;
  margin-top: 2%;
  position: absolute;
  right: 100%;
  transform: translateX(-50%);
}

#orange-kid {
  height: 125px;
  width: 80px;
  margin-top: 40%;
  position: absolute;
  left: 142%;
  transform: translateX(-50%);
}

#pineapple-kid {
  height: 125px;
  width: 80px;
  margin-top: 10%;
  position: absolute;
  left: 100%;
  transform: translateX(-50%);
}

#pink-kid {
  height: 120px;
  width: 70px;
  margin-top: 75%;
  position: absolute;
  right: 100%;
  transform: translateX(-50%);
}

#strawberry-kid {
  height: 125px;
  width: 75px;
  margin-top: 70%;
  position: absolute;
  left: 100%;
  transform: translateX(-50%);
}

#watermelon-kid {
  height: 120px;
  width: 90px;
  margin-top: 40%;
  position: absolute;
  right: 130%;
  transform: translateX(-50%);
}

#circles1 {
  left: auto;
  transform: translateX(-50%);
}

#circles2 {
  right: auto;
  transform: translateX(-50%);
}
